DATABASE_URL="postgresql://neondb_owner:npg_UotCjq9T0cYx@ep-divine-brook-ak694mi6-pooler.c-3.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="6MNVhkvq3M8gEY1lyzAwArYz36cDV0VyBAis0XAz8Py/iuPRhsfg0zvJv33wiDqD6eGmQwgs7GSxwyBFt2vUew=="
NEXTAUTH_URL="http://localhost:3000"
